* {
	margin: 0;
	padding: 0;
}

body {
	background: #F1F2F6;
}


/*轮播*/

.lubo {
	position: relative;
	width: 100%;
	height: 800px;
}

.lun_1 {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../images/florentina-catering-09-sml.jpg) no-repeat;
	background-size: cover;
	overflow: hidden;
}

.lun_1 img {
	display: block;
	margin: 104px auto;
}

.lun_2 {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../images/florentina-catering-12-sml.jpg) no-repeat;
	background-size: cover;
	overflow: hidden;
	display: none;
}

.lun_2 img {
	display: block;
	margin: 40px auto;
}

.lun_3 {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../images/florentina-catering-05-sml.jpg) no-repeat;
	background-size: cover;
	overflow: hidden;
	display: none;
}

.lun_3 img {
	display: block;
	margin: 40px auto;
}

.nav1 {
	position: absolute;
	top: 734px;
	left: 47.7%;
}

.xiao {
	width: 10px;
	height: 10px;
	background-color: white;
	display: inline-block;
	margin-left: 10px;
	cursor: pointer;
}

.imgSelected {
	background-color: #666;
}


/*中间部分*/


/*第一部分*/

.middle>img {
	display: block;
	margin: 20px auto;
}

.title {
	text-align: center;
}

.lunbo2 {
	position: relative;
	width: 1130px;
	height: 540px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 30px;
}

.line {
	float: left;
	width: 19px;
	height: 380px;
	background: url(../images/chanpin_nowline_bgline.png) repeat-y 9px 20px;
	margin-top: 22px;
}

.line .linebtn_one {
	text-align: center;
	height: 11px;
	margin-bottom: 63px;
}

.line .linebtn_one i {
	transition: all 0.5s ease 0s;
}

.line .linebtn_one span {
	display: block;
	width: 11px;
	height: 11px;
	margin: 0 auto;
	background: url(../images/chanpin_nowline_xiaoquan.png);
	cursor: pointer;
}

.line .linebtn_one span:hover {
	background: url(../images/chanpin_nowline_xiaoquan.png) 0 11px;
	transition: all 0.5s ease 0s;
}

#text {
	margin-left: 51px;
}

#text .t_1 {
	position: absolute;
	float: left;
}

#text .t_1_left {
	float: left;
}

#text .t_1_right {
	width: 613px;
	float: right;
	margin-left: 31px;
}

#text .t_1_right>h1 {
	color: #311759;
	font-size: 30px;
	background: url(../images/pen_line.png) no-repeat left bottom;
	height: 60px;
	position: relative;
}

#text .t_1_right .pen {
	width: 61px;
	height: 54px;
	background: url(../images/pen.png) no-repeat;
	position: absolute;
	right: 0px;
	bottom: -1px;
}

#text .t_1_1 {
	color: #565559;
	font-weight: 500;
	letter-spacing: 0px;
}

#text .t_1_1 p {
	font-family: KaiTi_GB2312;
}

#text .t_1_1 .p1 {
	height: 185px;
	margin: 10px 0 20px 10px;
}

#text .t_1_1 .p1 * {
	float: left;
}

#text .t_1_1 .p1 img {
	margin-right: 25px;
	margin-top: 5px;
}

#text .t_1_1 .p1 h2 {
	font-size: 24px;
	width: 470px;
}

#text .t_1_1 .p1 p {
	width: 573px;
	line-height: 24px;
	border: 0px;
}

#text .t_1_1 .p2 {
	margin-left: 10px;
}

#text .t_1_1 .p2 p {
	width: 573px;
	line-height: 24px;
	border: 0px;
}

.line i {
	display: none;
	width: 19px;
	height: 19px;
	background: url(../images/chanpin_nowline_daquan.png);
	cursor: pointer;
	position: relative;
	left: 0px;
	top: -4px;
	float: left;
}

.change_line {
	position: absolute;
	margin-left: 406px;
	top: 232px;
	z-index: 20;
	height: 29px;
	width: 610px;
	background: url(../images/next&prev_line.png) repeat-x left center;
}

.change_line>span {
	position: absolute;
	top: 0;
	height: 29px;
	width: 29px;
	background: url(../images/prev_jiantou.png) no-repeat;
	cursor: pointer;
}

.change_line>.next1 {
	right: 0;
	background: url(../images/next_jiantou.png) no-repeat;
}

.prev1:hover,
.next1:hover {
	animation: 1s linear 0s normal none 1 running su-pudding;
}

.prev1:hover {
	background: url(../images/prev_jiantou_hover.png);
}

.next1:hover {
	background: url(../images/next_jiantou_hover.png);
}

.tdown {
	display: none;
}


/*第二部分*/

.middle_2 {
	width: 100%;
	height: 923px;
	min-width: 1100px;
	background: url(../images/mokuai02_bg.jpg)  top center;
	color: white;
	overflow: hidden;
}

.middle_2_1 {
	width: 1020px;
	margin: 150px auto;
}

.middle_2_1 .t_1_left {
	float: left;
}

.middle_2_1 .t_1_right h2 {
	text-align: center;
	font-size: 73px;
}

.middle_2_1 .tup img {
	display: inline-block;
	width: 250px;
	height: 166.406px;
	margin-left: -5px;
}

.middle_2_1 .tup img:hover {
	transform: scale(1.5);
	animation: tbig .8s linear;
}

@keyframes tbig {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.5);
	}
}

.qu {
	width: 1020px;
	border: 0px;
}

.tup {
	margin: 10px auto;
	padding: 5px;
}


/*第三部分*/

#yewu {
	width: 1100px;
	margin: 100px auto;
}

.tou_1 {
	text-align: center;
	font-size: 54px;
	color: #311759;
	margin-top: 10px;
	line-height: 60px;
}

.tou_2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 18px;
	letter-spacing: 6px;
	text-align: center;
	color: #311759;
}

ul {
	list-style: none;
}

.box1 {
	margin: 20px auto;
}

.box1 li,
p {
	width: 1100px;
	border-bottom: 2px dashed #ccc;
}

.box1 li {
	display: none;
}

.box1 p a,
b {
	display: block;
	width: 67px;
	height: 67px;
	cursor: pointer;
}

.box1 p a {
	display: block;
	float: right;
	background: url(../images/business_zhankaishouqi.png);
	transition: 0.5s;
	margin-top: 22px;
	transition: 0.5s;
}

.box1 p .close {
	background-position: 0 -67px;
}

.box1 p b {
	margin: 0 490px;
}

.box1 p {
	height: 116px;
}

.zuo {
	float: left;
	width: 148px;
	font-size: 90px;
	color: #b5b6ba;
	font-family: "宋体";
}

.zuo_1 {
	float: left;
	margin: 36px 66px;
}

.ling {
	color: #311859;
	font-size: 24px;
	font-weight: normal;
	margin-left: 31px;
}

.box1 li p {
	margin-top: 20px;
	border-bottom: 0px;
	width: 790px;
	margin-left: 180px;
	font-family: KaiTi_GB2312;
	line-height: 24px;
}

.box1 li #oo {
	margin-top: -34px;
	margin-bottom: -40px;
}

.zuo1 {
	float: left;
	width: 148px;
	font-size: 90px;
	color: #b5b6ba;
	font-family: "宋体";
}

.box1 li p {
	margin-top: 20px;
	border-bottom: 0px;
	width: 790px;
	margin-left: 180px;
	font-family: KaiTi_GB2312;
	line-height: 24px;
}

.box1 li #oo {
	margin-top: -34px;
	margin-bottom: -40px;
}

.box1 ul p .zhong {
	position: absolute;
	margin: 0 490px;
}

.box1 ul li .ding {
	margin-top: 20px;
	border-bottom: 0px;
	width: 790px;
	margin-left: 180px;
	font-family: KaiTi_GB2312;
	line-height: 24px;
}

.box1 li p {
	margin-top: 20px;
	border-bottom: 0px;
	width: 790px;
	margin-left: 180px;
	font-family: KaiTi_GB2312;
	line-height: 24px;
}

.box1 li #oo {
	margin-top: -34px;
	margin-bottom: -40px;
}

.box1 ul p .zhong {
	position: absolute;
	margin: 0 490px;
}

.zuo11 {
	float: left;
	width: 148px;
	font-size: 90px;
	color: #b5b6ba;
	font-family: "宋体";
}

.box1 ul li .ding1 {
	margin-bottom: 20px;
}


/*团队*/

.tuandui {
	width: 1100px;
	margin: 0 auto;
}

.tuandui>h1,
.tuandui>h2 {
	text-align: center;
	font-size: 54px;
	color: #311759;
}

.tuandui>h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 18px;
	letter-spacing: 6px;
}

.team_change .middle span {
	cursor: default;
}

.teammove_wrap {
	width: 1100px;
	height: 250px;
	overflow: hidden;
	padding-top: 134px;
	position: relative;
}

.teammove_wrap .twoteam_wrap {
	width: 1130px;
	float: left;
	height: 314px;
}

.teammove_wrap .team_move {
	width: 2260px;
	height: 250px;
	position: absolute;
}

.team_box {
	width: 533px;
	height: 188px;
	border: 1px solid #e0e1e5;
	position: relative;
	float: left;
	margin-right: 30px;
}

.team_box .headimg {
	position: absolute;
	top: -65px;
	left: 26px;
	width: 156px;
	height: 156px;
	overflow: hidden;
	cursor: pointer;
}

.team_box .headimg a {
	width: 156px;
	height: 156px;
	background: url(../images/team_amore.png);
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.team_box .name_wrap {
	width: 222px;
	height: 80px;
	text-align: center;
	color: #5f4c82;
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 24px;
}

.team_box .name_wrap .job_title {
	font-size: 18px;
}

.team_box .description {
	width: 246px;
	height: 80px;
	position: absolute;
	top: 24px;
	left: 220px;
	color: #565559;
	line-height: 24px;
	font-size: 16px;
}

.team_box .send_email {
	height: 45px;
	width: 246px;
	position: absolute;
	bottom: 20px;
	left: 220px;
	background: #e7e8ec;
	border: 1px solid #e0e1e5;
	cursor: pointer;
}

.team_box .send_email:hover {
	border: 1px solid #86759e;
	transition: all 0.5s ease 0s;
}

.team_box .send_email i {
	float: left;
	width: 45px;
	height: 45px;
	background: #d9d9e1 url(../images/team_contact.png) 12px 17px no-repeat;
}

.team_box .send_email span {
	float: left;
	line-height: 45px;
	text-align: center;
	color: #5f4c82;
	font-size: 16px;
	width: 200px;
}

.team_box .other_contacts {
	width: 47px;
	height: 190px;
	background: #2999d6;
	position: absolute;
	top: -1px;
	right: -1px;
}

.team_box .other_contacts div {
	background: url(../images/team_contact.png) no-repeat;
	width: 47px;
	height: 47px;
	cursor: pointer;
}

.team_box .other_contacts div:hover {
	background-color: #168bcb;
	transition: all 0.5s ease 0s;
}

.team_box .other_contacts .weibo {
	background-position: 14px -28px;
}

.team_box .other_contacts .qq {
	background-position: 14px -75px;
}

.team_box .other_contacts .github {
	background-position: 14px -126px;
}

.team_box .other_contacts .weixin {
	background-position: 14px -166px;
}
.ffffff{
	position: relative;
	border: 1px solid rgba(241,242,246,0);;
    left: 50%;
    margin-left: -108px;
    margin-top: 50px;
    bottom: 70px;
    z-index: 20;
    height: 29px;
    width: 216px;
    background: url(../images/next&prev_line.png) no-repeat left center;
}
.prev1{
	position: absolute;
	top: 0;
    height: 29px;
    width: 29px;
    background: url(../images/prev_jiantou.png) no-repeat;
    cursor: pointer;
}
.middle_points1{
	 margin: 0 auto;
    width: 45px;
    height: 14px;
    background: url(../images/next&prev_mbg01.png) no-repeat;
    margin-top: 7px;
}
.middle_wrap1{
	background: url(../images/next&prev_mbg03.png) no-repeat right;
    height: 14px;
}
.middle1{
    background: url(../images/next&prev_mbg02.png) repeat-x;
    height: 14px;
    margin: 0 6px;
}
.middle1 span{
	display: block;
    float: left;
    width: 6px;
    height: 6px;
    margin-right: 5px;
    margin-top: 4px;
    background: url(../images/next&prev_others.png);
    cursor: pointer;
}	
.next1{
	position: absolute;
	top: 0;
    height: 29px;
    width: 29px;
    background: url(../images/next_jiantou.png) no-repeat no-repeat;
    cursor: pointer;
	right: 0;
}	
	
.middle_wrap1 .middle1 .imgSelected1{
	background: url(../images/next&prev_now.png);
	z-index: 20;
}
//联系我们
.mokuai1 {
	width: 1100px;
	margin: 0 auto;
}

.mokuai1>h1,
.mokuai1>h2 {
	text-align: center;
	font-size: 54px;
	color: #311759;
}

.mokuai1>h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 18px;
	letter-spacing: 6px;
}

.input_wrap,.lianxi_ways{
	margin: 50px auto;
	width: 1108px;
	overflow: hidden;
}

 

.lianxi .input_box {
	height: 45px;
	width: 345px;
	background: #fff;
	border: 1px solid #dedfe3;
	margin-bottom: 27px;
	float: left;
}

.lianxi .input_box:hover {
	border: 1px solid #b5b5b5;
	transition: all 0.5s ease 0s;
}

.lianxi .input_box i {
	float: left;
	width: 45px;
	height: 45px;
	background: #e7e8ec url(../images/lianxi_icons.png) 13px 14px no-repeat;
}

.lianxi .input_box input {
	float: left;
	line-height: 45px;
	height: 45px;
	color: #5f4c82;
	font-size: 16px;
	width: 268px;
	border: none 0;
	padding-left: 18px;
	outline: none;
	font-family: STKaiti, KaiTi_GB2312, "华文楷体", "宋体", Arial, Helvetica;
}

.lianxi .sentbtn_box {
	background: #168bcb;
	border-color: #2999d6;
	cursor: pointer;
}

.lianxi .sentbtn_box:hover {
	background: #0d74ac;
	border: 1px solid #0d74ac;
	transition: all 0.5s ease 0s;
}

.lianxi .sentbtn_box i {
	background-color: #2999d6;
	background-position: -179px 14px;
}

.lianxi .sentbtn_box span {
	float: left;
	line-height: 45px;
	color: #5f4c82;
	font-size: 16px;
	width: 200px;
	padding-left: 18px;
	text-align: center;
	color: #fff;
}

.lianxi .textarea_box {
	height: 210px;
	width: 720px;
	margin-right: 39px;
}

.lianxi .textarea_box i {
	height: 210px;
}

.lianxi .input_box textarea {
	float: left;
	line-height: 27px;
	color: #5f4c82;
	font-size: 16px;
	width: 640px;
	padding-right: 17px;
	height: 200px;
	border: none 0;
	text-align: left;
	padding-left: 18px;
	padding-top: 10px;
	outline: none;
	resize: none;
	font-family: STKaiti, KaiTi_GB2312, "华文楷体", "宋体", Arial, Helvetica;
}

.shuomin {
	height: 86px;
	width: 339px;
	color: #7f7d83;
	float: left;
}

.shuomin2 {
	color: #605f64;
	font-size: 18px;
	height: 72px;
	width: 339px;
	float: left;
}

.lianxi .focus_input_box {
	border: 1px solid #a7a7a7;
}

.way_one {
	width: 345px;
	height: 250px;
	float: left;
}

.way_one>* {
	float: left;
}

.way_one>img {
	position: relative;
	top: 24px;
}

.way_one .way_content {
	margin-left: 115px;
	margin-top: -102px;
}

.way_one h1 {
	line-height: 60px;
	height: 60px;
	width: 210px;
	background: url(../images/lianxi_kuaier_bg.png) no-repeat bottom left;
	color: #5f4c82;
	margin-bottom: 14px;
}

.way_one .way_content p {
	line-height: 32px;
	color: #524d5c;
	border: 0px;
}
/*返回顶部*/
.fanhui{
	width: 87px;
    height: 161px;
    position: fixed;
    bottom: 160px;
    right: 40px;
    display: none;
    
}
.scroll_top{
	background: url(../images/scroll_top_bg.png) no-repeat;
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin-left: 17px;
    margin-bottom: 24px;
    
}
.fixed_contactus{
	 width: 87px;
    height: 87px;
    
    right: 0;
    top: 74px;
    background: url(../images/fixed_contactus.png) top right no-repeat;
    cursor: pointer;
}

.themap_wrap{
	height: 550px;
	position: relative;	
}
#map{
	height: 550px;
}
.map_bottomimg {
    background: url(../images/map_bottomimg.png) top center no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 33px;
    width: 100%;
    min-width: 1100px;
    background-color: transparent;
}
.map_topimg {
    width: 1100px;
    position: relative;
    margin: 0 auto;
    z-index: 999;
}
.map_topimg img{
	position: absolute;
	left: 0;
	top: 0;
}